USE [master]
GO
/****** Object:  Database [IBSTesting]    Script Date: 10/06/2018 14:00:21 ******/
CREATE DATABASE [IBSTesting]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IBSTesting', FILENAME = N'C:\Users\Adrian\IBSTesting.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IBSTesting_log', FILENAME = N'C:\Users\Adrian\IBSTesting_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IBSTesting].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IBSTesting]
GO
USE [IBSTesting]
GO
/****** Object:  Table [dbo].[Acceso]    Script Date: 10/06/2018 14:00:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acceso](
	[Id] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
	[UsuarioDni] [nchar](8) NOT NULL,
 CONSTRAINT [PK_Acceso] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 10/06/2018 14:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[RUC] [nchar](12) NOT NULL,
	[RazonSocial] [nvarchar](80) NOT NULL,
	[Direccion] [nvarchar](80) NOT NULL,
	[Telefono] [nchar](9) NOT NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[RUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 10/06/2018 14:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[Codigo] [nchar](4) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
 CONSTRAINT [PK_Estado] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lineas]    Script Date: 10/06/2018 14:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lineas](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](10) NOT NULL,
	[Empresa] [nchar](12) NOT NULL,
	[Estado] [nchar](4) NOT NULL,
 CONSTRAINT [PK_Lineas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paradero]    Script Date: 10/06/2018 14:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paradero](
	[Id] [int] NOT NULL,
	[Descripcion] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_Paradero] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RutaLinea]    Script Date: 10/06/2018 14:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RutaLinea](
	[Linea] [int] NOT NULL,
	[Paradero] [int] NOT NULL,
	[Ruta] [nchar](6) NULL,
	[Numero] [int] NULL,
 CONSTRAINT [PK_RutaLinea] PRIMARY KEY CLUSTERED 
(
	[Linea] ASC,
	[Paradero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoUsuario]    Script Date: 10/06/2018 14:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsuario](
	[Codigo] [nchar](4) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TipoUsuario] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 10/06/2018 14:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Apellidos] [nvarchar](50) NOT NULL,
	[Nombres] [nvarchar](50) NOT NULL,
	[Dni] [nchar](8) NOT NULL,
	[Telefono] [nchar](9) NOT NULL,
	[Direccion] [nvarchar](50) NOT NULL,
	[Correo] [nvarchar](50) NOT NULL,
	[TipoUsuario] [nchar](4) NOT NULL,
	[Empresa] [nchar](12) NULL,
 CONSTRAINT [PK_Usuario_1] PRIMARY KEY CLUSTERED 
(
	[Dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Acceso]  WITH CHECK ADD  CONSTRAINT [FK_Acceso_Usuario] FOREIGN KEY([UsuarioDni])
REFERENCES [dbo].[Usuario] ([Dni])
GO
ALTER TABLE [dbo].[Acceso] CHECK CONSTRAINT [FK_Acceso_Usuario]
GO
ALTER TABLE [dbo].[Lineas]  WITH CHECK ADD  CONSTRAINT [FK_Lineas_Empresa] FOREIGN KEY([Empresa])
REFERENCES [dbo].[Empresa] ([RUC])
GO
ALTER TABLE [dbo].[Lineas] CHECK CONSTRAINT [FK_Lineas_Empresa]
GO
ALTER TABLE [dbo].[Lineas]  WITH CHECK ADD  CONSTRAINT [FK_Lineas_Estado] FOREIGN KEY([Estado])
REFERENCES [dbo].[Estado] ([Codigo])
GO
ALTER TABLE [dbo].[Lineas] CHECK CONSTRAINT [FK_Lineas_Estado]
GO
ALTER TABLE [dbo].[RutaLinea]  WITH CHECK ADD  CONSTRAINT [FK_RutaLinea_Lineas] FOREIGN KEY([Linea])
REFERENCES [dbo].[Lineas] ([Id])
GO
ALTER TABLE [dbo].[RutaLinea] CHECK CONSTRAINT [FK_RutaLinea_Lineas]
GO
ALTER TABLE [dbo].[RutaLinea]  WITH CHECK ADD  CONSTRAINT [FK_RutaLinea_Paradero] FOREIGN KEY([Paradero])
REFERENCES [dbo].[Paradero] ([Id])
GO
ALTER TABLE [dbo].[RutaLinea] CHECK CONSTRAINT [FK_RutaLinea_Paradero]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Empresa] FOREIGN KEY([Empresa])
REFERENCES [dbo].[Empresa] ([RUC])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Empresa]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_TipoUsuario] FOREIGN KEY([TipoUsuario])
REFERENCES [dbo].[TipoUsuario] ([Codigo])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_TipoUsuario]
GO
USE [master]
GO
